*{
    font-family: roboto;
}
footer{
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #F9FAF8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* section 1*/
.container-1{
    display: flex;
    align-items: center;
    background-color: #1F2937;
    flex-direction: column;
}
.container-navbar{
    display: inline-flex;
    align-items: center;
    gap: 300px;
    padding-top: 10px;
}
.container-head{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    width: 600px;
    margin-bottom: 10px;
    gap: 10px;
}
.navbar{
    color: #F9FAF8;
    font-family: arial; 
}
.item-1{
    width: 500px;
    justify-content: center;
    flex: 1 1 auto;
    color: #F9FAF8;
    font-family: arial;
}
.img-logo{
    height: 80px;
    width: 150px;
}
.img-vip{
    height: 200px;
    width: 350px;
}
.btn{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-family: arial;
}

/* section 2*/
.container-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.item-2{
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.item-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    flex-direction: column;
}
.item-2-title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    font-family: arial;
}
.subtext-2{
    font-size: 12px;
    color: #1F2937;
    font-family: arial;
    text-align: center;
}
.img-desc{
    width: 100px;
    height: 100px;
    border: solid 3px #3882F6;
    border-radius: 5px;
}

/* section 3*/
.container-3{
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px
}
.item-3{
    /* flex: 1 1 auto; */
    width: 600px;
}
.item-3-quote{
    color: #1F2937;
    font-size: 33px;
    font-style: italic ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-decoration: none;
}
.item-3-author{
    font-size: 14px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: #1F2937;
    text-align: right;
}

/* section 4*/
.container-4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px
}
.item-4{
    width: 600px;
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
}
.item-4-p{
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 800;
    padding: 0;
}
.item-4-ps{
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.btn-default-1{
    border: solid 1px #F9FAF8;
    border-radius: 5px;
}